.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 30px repeat(5, 70px);
  row-gap: 20px;
  column-gap: 20px;
  width: 80%;
  margin: 50px auto;
}

.date,
.day {
  background-color: skyblue;
  box-shadow: 10px 10px 10px rgba(2, 130, 180, 0.664);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.date:hover {
  font-weight: bolder;
  background-color: rgb(4, 66, 90);
  box-shadow: 10px 10px 10px rgba(109, 206, 245, 0.842);
  color: white;
}

.day:hover {
  font-weight: bolder;
  background-color: rgb(4, 66, 90);
  box-shadow: 10px 10px 10px rgba(109, 206, 245, 0.842);
  color: white;
}

.month {
  width: 70%;
  height: 5rem;
  margin: 15px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  font-size: 2rem;
  font-weight: bold;
}

.food-page-btn button {
  background-color: rgb(3, 130, 153);
  color: white;
  cursor: pointer;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
}
.food-page-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 90px;
  margin-top: 20px;
}

.food-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.food {
  border: 5px solid black;
  border-radius: 10px;
  padding: 10px;
}

.food-container img {
  width: 100%;
  border-radius: 20px;
}

/* Smaller Devices */

@media screen and (max-width: 576px) {
  .food-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .food-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
